Django==1.9.7
coverage==4.1
isodate==0.5.4
rdflib==4.2.1
requests==2.10.0
psycopg2==2.6.1

# Heroku
dj-database-url==0.4.1
gunicorn==19.6.0
Jinja2==2.8
pyparsing==2.1.5
whitenoise==3.2

# Sphinx
Sphinx==1.4.4
MarkupSafe==0.23
imagesize==0.7.1
docutils==0.12
Pygments==2.1.3
alabaster==0.7.8
Babel==2.3.4
snowballstemmer==1.2.1
six==1.10.0
pytz==2016.4
